.contact {
  min-height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f4f4f4;
  padding: 60px 20px;
  text-align: center;
}

.contact-box {
  background: white;
  padding: 40px;
  border-radius: 12px;
  box-shadow: 0px 6px 14px rgba(0, 0, 0, 0.1);
  max-width: 700px;
  width: 70%;
}

.contact h2 {
  font-size: 2.8rem;
  font-weight: bold;
  color: #1e3c72;
  margin-bottom: 10px;
}

.contact p {
  font-size: 1.2rem;
  color: #333;
  line-height: 1.6;
  margin-bottom: 25px;
}

.contact-links {
  display: flex;
  justify-content: center;
  gap: 40px; 
  margin-top: 20px;
}

.contact-item {
  display: flex;
  align-items: center;
  text-decoration: none;
  transition: transform 0.3s ease;
}

.contact-item:hover {
  transform: scale(1.1);
}

.email .contact-icon {
  color: white;
  stroke: #000000; 
  stroke-width: 20;
}

.linkedin .contact-icon {
  color: #0077b5;
}

.github .contact-icon {
  color: #171515;
}

.contact-icon {
  font-size: 2.8rem;
  transition: transform 0.3s ease-in-out;
}

.contact-icon:hover {
  transform: scale(1.2);
}

@media (max-width: 768px) {
  .contact-box {
    width: 80%;
  }

  .contact h2 {
    font-size: 2.2rem;
  }

  .contact p {
    font-size: 1rem;
  }

  .contact-links {
    gap: 30px;
  }

  .contact-icon {
    font-size: 2.5rem;
  }
}

@media (max-width: 480px) {
  .contact {
    padding: 50px 15px;
  }

  .contact-box {
    width: 70%;
    padding: 30px;
  }

  .contact h2 {
    font-size: 2rem;
  }

  .contact p {
    font-size: 0.95rem;
  }

  .contact-links {
    gap: 20px;
  }

  .contact-icon {
    font-size: 2.3rem;
  }
}
